
.wrap{
    font-family: 'GT Eesti Pro Display Light';
    font-style: normal;
    font-weight: 300;
    max-width: 840px;
    max-height: 550px;
    padding: 25px 20px;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(10px 16px 27px rgba(0, 0, 0, 0.1));
}

.header{
    display: flex;
    gap: 25px;
    align-items: center;
}

select {
    border: 1px solid #E5E5E5;
    width: 316px;
    height: 36px;

    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
  }

.header h1{
    font-family: 'GT Eesti Pro Display Light';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
}

.select{
    max-width: 315px;
}
canvas{
   
}