.navigation{
    width: 100%;
}

.ul{
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
}

.ul li:not(:last-child){
    margin-bottom: 20px;
}

.li{
    list-style: none;
    font-size: 28px;
}

.link{
    text-decoration: none;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #000000;
}
